<table class="table table-hover">
    <thead>
        <tr>
            <th id="id">#</th>
            <th id="bandera">Bandera</th>
            <th id="nombre">Nombre</th>
            <th id="poblacion">Población</th>
            <th id="mas">ver más</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pais of item, let i = index">
            <td>{{ i + 1  }}</td>
            <td><img class="small-flag" src="{{pais.flag}}"></td>
            <td>{{pais.name}},{{pais.capital}}</td>
            <td>{{pais.population | number}}</td>
            <td><a [routerLink]="['/pais', pais.alpha2Code]">ver mas</a></td>

        </tr>

    </tbody>
</table>